Source: upmc
Section: python
Priority: extra
Maintainer: Mike Fabre <mike@fabre.id.au>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://mike.fabre.id.au/
#Vcs-Git: git://git.debian.org/collab-maint/new-myth.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/new-myth.git;a=summary

Package: upmc
Architecture: all
Depends: ${misc:Depends}, python-pygame, python-imdbpy, mpc, python-cairo, python-aosd, python-pylirc, vlc
Recommends: ratpoison, lirc | inputlirc, xcompmgr
Description: The Unnamed Python Media Center
  This is designed to run on dedicated media systems.
